---
// Import de Section, es un componente que uso para meter cada una de las secciones de la web
import Section from "@components/Section.astro";

// Import para traer los datos del cs.json al Hero
import { basics } from "@cv";

// Constantes
const { summary } = basics;
---

<Section title="Sobre mí">
    <p>
        {summary}
    </p>
</Section>
