---
// Import de Section, es un componente que uso para meter cada una de las secciones de la web
import Section from "@components/Section.astro";

// Import para traer los datos del cs.json al Hero
import { languages } from "@cv";
---

<Section title="Idiomas">
    <ul>
        {
            languages.map(({ language, fluency }) => {
                return (
                    <li>
                        <article>
                            <header>
                                <div>
                                    <h3>{language}</h3>
                                </div>

                                <div>
                                    <p>Nivel: {fluency}</p>
                                </div>
                            </header>
                        </article>
                    </li>
                );
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    article h3 {
        font-weight: 500;
        color: var(--text-h3);
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;
    }

    p {
        color: var(--text-p);
        font-size: 1rem;
    }

    @media (width <= 700px) {
        time {
            text-align: right;
        }
    }
</style>
