---
// Import de Section, es un componente que uso para meter cada una de las secciones de la web
import Section from "@components/Section.astro";

// Import de los iconos
import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/typescript.astro";
import Node from "@/icons/node.astro";
import MySQL from "@/icons/mysql.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/Github.astro";
import Tailwind from "@/icons/tailwind.astro";
import Bootstrap from "@/icons/bootstrap.astro";
import AstroIcon from "@/icons/astroIcon.astro";
import PHP from "@/icons/php.astro";
import Laravel from "@/icons/laravel.astro";

// Import para traer los datos del cs.json al Skills
import { skills } from "@cv";

// Constantes
const SKILLS_ICONS: Record<string, any> = {
    HTML,
    CSS,
    JavaScript,
    TypeScript,
    Node,
    MySQL,
    Git,
    GitHub,
    Tailwind,
    Bootstrap,
    AstroIcon,
    PHP,
    Laravel,
};
---

<Section title="Habilidades">
    <ul>
        {
            skills.map(({ name }) => {
                const iconName = name;
                const Icon = SKILLS_ICONS[iconName];
                return (
                    <li>
                        <span>{name}</span>
                        {Icon && <Icon />}
                    </li>
                );
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li {
        display: flex;
        align-items: center;
        border-radius: 6px;
        background-color: #eee;
        color: #333;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
        gap: 4px;
        padding: 0.2rem 0.6rem;
    }
</style>
