---
// Import del Layout
import Layout from "@layouts/Layout.astro";

// Import de las secciones
import Hero from "@components/Sections/Hero.astro";
import About from "@components/Sections/About.astro";
import Education from "@components/Sections/Education.astro";
import Languages from "@components/Sections/Languages.astro";
import Skills from "@components/Sections/Skills.astro";
import Projects from "@components/Sections/Projects.astro";

// Import para traer los datos del cs.json al Skills
import { basics } from "@cv";
const { name } = basics;
---

<Layout title={`Portafolio de ${name}`}>
    <main>
        <Hero />
        <About />
        <Education />
        <Languages />
        <Skills />
        <Projects />
    </main>
</Layout>

<style>
    main {
        padding: 4rem;
        margin: auto;
        width: 100%;
    }
</style>
