---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Education from "../components/Education.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Portfolio">
    <main>
        <h1>Mi Portfolio Web</h1>
        <Hero />
        <About />
        <Education />
        <Skills />
        <Projects />
    </main>
</Layout>

<style></style>
