---
import Layout from "@layouts/Layout.astro";

import Hero from "@components/Sections/Hero.astro";
import About from "@components/Sections/About.astro";
import Education from "@components/Sections/Education.astro";
import Skills from "@components/Sections/Skills.astro";
import Projects from "@components/Sections/Projects.astro";
---

<Layout title="Portfolio">
    <main>
        <Hero />
        <About />
        <Education />
        <Skills />
        <Projects />
    </main>
</Layout>

<style>
    main {
        padding: 4rem;
        margin: auto;
        width: 100%;
    }
</style>
